{{#if (has-block)}}
  {{yield to='before'}}
  <div
    role='button'
    class='ember-litepicker ember-litepicker-input'
    ...attributes
    {{litepicker this.args}}
  >
    {{yield to='default'}}
  </div>
  {{yield to='after'}}
{{else}}
  {{yield to='before'}}
  <Input
    class='ember-litepicker ember-litepicker-input'
    ...attributes
    {{litepicker this.args}}
  />
  {{yield to='default'}}
  {{yield to='after'}}
{{/if}}