<div class='ember-litepicker' ...attributes>
  {{yield to='before'}}
  {{#if (has-block)}}
    <div role='button' class='ember-litepicker-input' {{litepicker this.args}}>
      {{yield to='default'}}
    </div>
  {{else}}
    <Input class='ember-litepicker-input' {{litepicker this.args}} />
    {{yield to='default'}}
  {{/if}}
  {{yield to='after'}}
</div>